
:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;

    --buttonColor: black;
}


html, body {
    padding: 0;
    margin: 0;
}

body * {
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color:var(--mainText);
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color:var(--mainText)
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s0{
    display: none;
}

.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    
-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
'nav-wrapper nav-wrapper'
'left-column right-column'
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;  
}

#navigation a{
    color: var(--mainText);
}

#navigation{
    margin:0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


.dots-wrapper {
display: flex;
padding: 10px;
}

#dot-1{
    background-color: #FC6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2ACA3E;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    margin: 5px

}



.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor)
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}


#blue-mode{
    background-color: #192734;
}


#green-mode{
    background-color: #78866b;
}


#purple-mode{
    background-color: #7e4c74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

.corner{
    width: 7px;
    height:  7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top:-5px;
    left:-5px;
}

#corner-tr{
    top:-5px;
    right:-5px;
}
#corner-br{
    bottom:-5px;
    right:-5px;
}
#corner-bl{
    bottom:-5px;
    left:-5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img {
    height: 100%;
    width: 100%;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post-wrapper2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-bottom: 50px;
}

#leftarrow, #rightarrow {
    margin-left: 12px;
    width: 3%;
    display: inline-block;
}

#leftarrow button, #rightarrow button {
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.child {
    display: none;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

figure {
    width: 33.33333333%;
    margin: 0;
    float: left;
    padding: 10px;
    position: relative;
    cursor: pointer;
  }
  figure:before,
  figure:after {
    position: absolute;
  }
  figure:before {
    top: 40%;
    left: 100%;
    margin-left: 0px;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    background-color: rgba(204, 209, 217, 0.3);
    font-family: 'Ionicons';
    content: '\f215';
    text-align: center;
    line-height: 45px;
    font-size: 19px;
    color: #F5F7FA;
  }
  figure:after {
    content: 'gif';
    position: absolute;
    display: inline-block;
    width: 40px;
    text-align: center;
    top: 20px;
    right: 20px;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    color: #656D78;
    background-color: rgba(170, 178, 189, 0.1);
    text-transform: uppercase;
  }
  figure.play:before {
    display: none;
  }
  figure.play:after {
    color: #fff;
    background-color: #8CC152;
  }
  

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'nav-wrapper'
    'left-column' 
    'right-column';
    }

    .right-column{
        justify-content: center;
    }
}

body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
	overflow: hidden;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 80%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel_lista {
	overflow: hidden;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot:active {
	opacity: 1;
}

/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}